.config-panel-operations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background: #fff;

  .config-panel-title {
    font-size: 18px;
    font-weight: bold;
  }

  .config-panel-button:not(:last-child) {
    margin-right: 8px;
  }
}

.config-palette {
  padding: 0px 0px !important;
  width: 100%;
  border-radius: 5px !important;
  overflow: hidden;

  & > span {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    height: 100%;
  }
}
