{
  "extends": [
    "egg"
  ],
  "globals": {
    "$": true,
    "AMap": true,
    "AMapUI": true,
    "DataSet": true,
    "G2": true,
    "_": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": [
    "html"
  ],
  "rules": {
    "no-console": [
      "error",
      {
        "allow": [
          "warn",
          "error"
        ]
      }
    ],
    "no-bitwise": [
      0
    ],
    "experimentalDecorators": [
      0
    ],
    "comma-dangle": [
      "error",
      "never"
    ],
    "linebreak-style": [
      0
    ]
  }
}
