# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
yarn.lock

# Sys
.DS_Store
.idea

# Node
node_modules/

# Build
dist
lib
esm

# Test
coverage

# Bundle visualizer
stats.html

# Snapshots error images
__tests__/integration/snapshots/*-diff.png
__tests__/integration/snapshots/*-diff.svg
__tests__/integration/snapshots/**/*-diff.png

# Show mismatched pixels
__tests__/integration/snapshots/*.diff.png
__tests__/integration/snapshots/**/*.diff.png

# Website cache byb dumi
site/.dumi/tmp
site/.dumi/tmp-production
