html {
  scroll-behavior: auto;
}

@media (max-width: 900px) {
  .teaser-img {
    img {
      margin-left: 0 !important;
      margin-top: 0 !important;
    }
  }
}

@media (max-width: 480px) {
  .teaser {
    top: 12%;
    right: 0 !important;
  }

  .teaser-img {
    img {
      margin-left: 0 !important;
      margin-top: 60px !important;
    }
  }
}

// 自定义 G2Plot 官网样式
pre[class*="language-"]{
  margin: 0.6em 0 0.8em;
  padding: 0.6em 1em;
  font-size: 90%;
}

code.language-sign,
pre.language-sign {
  background: #e6f7ff !important;
}

description code.language-text  {
  color: #3c43d1;
}

code.language-text {
  padding: 2px 4px;
  color: #8085e8;
  font-size: 90%;
  background-color: #f5f5f5 !important;
  border: none;
  border-radius: 4px;
}

:not(pre) > code[class*="language-"] {
  padding: 1px 4px;
}

[class*="markdown-module--markdown--"] table {
  margin: 0.5em 0 24px 0 !important;
}