name: build

on:
  push:
    branches: [v5]
  pull_request:
    branches: [v5]

jobs:
  build:
    runs-on: macOS-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4

      - name: Setup Node.js environment
        uses: actions/setup-node@v2.1.5
        with:
          node-version: '14'

      - name: Run CI
        run: |
          npm install
          npm run ci

      - name: Upload blob report to GitHub Actions Artifacts
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: snapshots
          path: |
            __tests__/integration/snapshots/**/*-actual.svg
          retention-days: 1
