name: CI

on: ["push", "pull_request"]

jobs:
  build:
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js 12
        uses: actions/setup-node@v1
        with:
          node-version: 12.10.0
      - name: npm install
        run: |
          npm install
      - name: build
        run: |
          npm run lint
          npm run build
          npm run coverage
        env:
          CI: true
      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}